body {
  margin: 2em;
  font-family: sans-serif;
  font-size: 0.8125rem; }

a {
  color: #3BA6FE; }
  a:visited {
    color: #01589f; }
  a:hover {
    color: #54b2fe; }

form > div {
  margin: 0.5em 0; }

form label,
form input[type="text"] {
  margin-right: 0.3em;
  padding: 8px;
  font-size: 0.8125rem; }

form label[for] {
  width: 8em;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  padding-top: 1em; }

form input[type="text"] {
  padding-left: 0.3em;
  padding-right: 0.3em; }

form div.selectize-control {
  display: inline-block;
  width: 20em; }

form div.selectize-input,
form input[type~="text textarea submit"],
form button {
  border: 1px solid #bbb;
  border-radius: 0px; }

form input[type="button"],
form button {
  background-color: #f0f0f0;
  border-radius: 100px;
  padding: 0.8em 1.5em;
  font-size: 0.8rem; }

form .selectize-control .code:empty {
  display: none; }

form .selectize-control .code {
  font-weight: bold;
  margin-right: 1em; }

form .selectize-control .count {
  float: right;
  margin-left: 1em;
  color: #888; }

form input[type~="text textarea submit"]:focus,
form div.selectize-input:focus-within,
form button:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }

form select {
  height: 3.3em; }

form .hint {
  color: #666; }

ul.errors {
  color: #dd3333; }

a.details-link {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-family: serif;
  font-size: 110%;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  background-color: #3BA6FE;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  text-decoration: none; }
  a.details-link:visited {
    background-color: #0174d2; }
  a.details-link:hover {
    background-color: #54b2fe; }

table.table {
  border-collapse: collapse; }
  table.table tr:nth-child(even) {
    background-color: #fbfbfb; }
  table.table td {
    vertical-align: top;
    position: relative; }
  table.table th, table.table td {
    border: 1px solid #e0e0e0;
    padding: 0.5em 0.5em;
    font-size: 0.75rem; }
  table.table ul {
    margin: 0;
    padding: 0 0 0 1.5em; }
  table.table thead th {
    position: relative; }
    table.table thead th > span {
      display: block;
      position: sticky;
      top: 0; }

.summary-table {
  max-width: 600px; }

.unknown::before {
  content: "("; }

.unknown::after {
  content: ")"; }

[data-column-name="title"] div {
  text-overflow: ellipsis; }

[data-column-name="journal"] div {
  white-space: nowrap;
  max-width: 10em;
  text-overflow: ellipsis; }

[data-column-name="table_name"] div {
  min-width: 20em;
  max-width: 30em; }

[data-column-name="summary"] div {
  min-width: 20em;
  max-width: 40em; }

[data-column-name="evidence_level"] div {
  font-size: 80%;
  letter-spacing: 1px;
  color: #555; }

/* Details */
dl div {
  overflow: hidden;
  margin: 0.6em 0; }

dt {
  width: 13em;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis; }

dd {
  margin-left: 13em;
  max-width: 70em; }
  dd ul {
    margin: 0;
    padding: 0 0 0 3em; }
