
$link-color: #3BA6FE;

body {
    margin: 2em;
    font-family: sans-serif;
    font-size: 0.8125rem;
}

a {
    color: $link-color;

    &:visited {
        color: darken($link-color, 30);
    }

    &:hover {
        color: lighten($link-color, 5);
    }
}

form {
    > div {
        margin: 0.5em 0;
    }


    label,
    input[type="text"] {
        margin-right: 0.3em;

        padding: 8px;
        font-size: 0.8125rem;
    }

    label[for] {
        width: 8em;
        display: inline-block;
        vertical-align: top;
        padding: 0;
        padding-top: 1em;
    }

    input[type="text"] {
        padding-left: 0.3em;
        padding-right: 0.3em;
    }

    div.selectize-control {
        display: inline-block;
        width: 20em;
    }

    div.selectize-input,
    input[type~="text textarea submit"],
    button {
        border: 1px solid #bbb;
        border-radius: 0px;
    }

    input[type="button"],
    button {
        background-color: #f0f0f0;
        border-radius: 100px;
        padding: 0.8em 1.5em;
        font-size: 0.8rem;
    }

    .selectize-control {
        .code:empty {
            display: none;
        }

        .code {
            font-weight: bold;
            margin-right: 1em;
        }

        .count {
            float: right;
            margin-left: 1em;
            color: #888;
        }
    }

    input[type~="text textarea submit"]:focus,
    div.selectize-input:focus-within,
    button:focus {
        border-color: rgba(82, 168, 236, 0.8);
        outline: 0;
        outline: thin dotted \9;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    }

    select {
        height: 3.3em;
    }

    .hint {
        color: #666;
    }
}

ul.errors {
    color: #dd3333;
}

a.details-link {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-family: serif;
    font-size: 110%;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    background-color: $link-color;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 100px;
    text-decoration: none;

    &:visited {
        background-color: darken($link-color, 20);
    }

    &:hover {
        background-color: lighten($link-color, 5);
    }

}

.table-wrapper {
}

table.table {
	border-collapse: collapse;

    tr:nth-child(even) {
        background-color: #fbfbfb;
    }

    th {
    }

    td {
        vertical-align: top;
        position: relative;
    }

    th, td {
        border: 1px solid #e0e0e0;
        padding: 0.5em 0.5em;
        font-size: 0.75rem;
    }

    ul {
        margin: 0;
        padding: 0 0 0 1.5em;
    }

    thead th {
        position: relative;

        > span {
            display: block;
            position: sticky;
            top: 0;
        }
    }
}

.summary-table {
    max-width: 600px;
}

.unknown::before {
    content: "(";
}
.unknown::after {
    content: ")";
}

[data-column-name="title"] div {
    text-overflow: ellipsis;
}

[data-column-name="journal"] div {
    white-space: nowrap;
    max-width: 10em;
    text-overflow: ellipsis;
}

[data-column-name="table_name"] div {
    min-width: 20em;
    max-width: 30em;
}

[data-column-name="summary"] div {
    min-width: 20em;
    max-width: 40em;
}

[data-column-name="evidence_level"] div {
    font-size: 80%;
    letter-spacing: 1px;
    color: #555;
}

/* Details */

$detail-title-width: 13em;

dl div {
    overflow: hidden;
    margin: 0.6em 0;
}

dt {
    width: $detail-title-width;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

dd {
    margin-left: $detail-title-width;
    max-width: 70em;

    ul {
        margin: 0;
        padding: 0 0 0 3em;
    }
}