
<!DOCTYPE html>

{# This is a Jinja template. See: http://jinja.pocoo.org/ #}

<html lang="en">
	<head>
		<title>Annitator - Contents</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="../static/annitator.css" type="text/css" />
	</head>

	<body>
        <h1>Annitator - Database contents</h1>

        {% for article in articles %}  
        <h2>{{ article.title }}</h2>

        <h3>Tables</h3>
        
        <table class="table summary-table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th style="text-align: right">Rows</th>
                </tr>
            </thead>
            <tbody>
                {% for table in article.tables %}
                <tr>
                    <td>{{ table.description}}</td>
                    <td style="text-align: right">{{ table.rows }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </body>
</html>