<!DOCTYPE html>

{# This is a Jinja template. See: http://jinja.pocoo.org/ #}

<html lang="en">
	<head>
		<title>Annitator - details</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="../static/annitator.css" type="text/css" />
	</head>

	<body>
        <h1>Annitator - details</h1>

        {% if details.gene_aberration %}
        <h2 id="gene-aberration">Gene Aberration</h2>

        <dl>
            <div>
                <dt>Summary</dt>
                <dd>{{ details.gene_aberration.summary }}</dd>
            </div>
            <div>
                <dt>Gene</dt>
                <dd>
                    <a href="http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ details.gene_aberration.gene }}">
                    {{ details.gene_aberration.gene }}
                    </a>
                </dd>
            </div>
            <div>
                <dt>Clinical significance</dt>
                <dd>{{ details.gene_aberration.clinical_significance or '-' }}</dd>
            </div>
            <div>
                <dt>Variant id</dt>
                <dd>{{ details.gene_aberration.variant_id or '-' }}</dd>
            </div>
            <div>
                <dt>Variant DNA</dt>
                <dd>{{ details.gene_aberration.variant_DNA or '-' }}</dd>
            </div>
            <div>
                <dt>Variant protein</dt>
                <dd>{{ details.gene_aberration.variant_protein or '-' }}</dd>
            </div>
            <div>
                <dt>Haplotype</dt>
                <dd>{{ details.gene_aberration.haplotype_id or '-' }}</dd>
            </div>
            <div>
                <dt>Expression</dt>
                <dd>{{ details.gene_aberration.expression or '-' }}</dd>
            </div>
            <div>
                <dt>Methylation</dt>
                <dd>{{ details.gene_aberration.methylation or '-' }}</dd>
            </div>
            <div>
                <dt>Evidence level</dt>
                <dd>
                {% if details.gene_aberration.evidence_level %}
                    {{ ("&#x2605;" * details.gene_aberration.evidence_level)|safe }} ({{ details.gene_aberration.evidence_level }})
                {% else %}
                    -
                {% endif %}
                </dd>
            </div>
            <div>
                <dt>Drugs</dt>
                <dd>
                {% if details.drugs %}
                    <ul>
                        {% for drug in details.drugs %}
                            {% if drug.cid is number %}
                                <li><a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{ drug.cid }}">{{ drug.name }}</a></li>
                            {% else %}
                                <li><span class="unknown">{{ drug.name }}</span></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    -
                {% endif %}
                </dd>
            </div>
            <div>
                <dt>Diseases</dt>
                <dd>
                {% if details.diseases %}
                    <ul>
                    {% for disease in details.diseases %}
                        {% if disease.TCGA_disease is string %}
                            <li>{{ disease.name }}</li>
                        {% else %}
                            <li><span class="unknown">{{ disease.name }}</span></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% else %}
                    -
                {% endif %}
                </dd>
            </div>
        </dl>
        {% endif %}

        {% if details.table or details.article %}
        <h2 id="data-source">Data source</h2>
        {% endif %}

        {% if details.table %}
        <h3 id="table">Table</h3>

        <dl>
            <div>
                <dt>Name</dt>
                <dd>{{ details.table.name }}</dd>
            </div>
            <div>
                <dt>Description</dt>
                <dd>{{ details.table.description }}</dd>
            </div>
            <div>
                <dt>Additional info</dt>
                <dd>{{ details.table.additional_info or '-' }}</dd>
            </div>
            <div>
                <dt>Main category</dt>
                <dd>{{ details.table.main_category or '-' }}</dd>
            </div>
        </dl>
        {% endif %}

        {% if details.article %}
        <h3 id="article">Article or Database</h3>

        <dl>
            <div>
                <dt>Title</dt>
                <dd>{{ details.article.title }}</dd>
            </div>
            <div>
                <dt>Journal</dt>
                <dd>{{ details.article.journal }}</dd>
            </div>
            <div>
                <dt>Year</dt>
                <dd>{{ details.article.year }}</dd>
            </div>
            <div>
                <dt>Abstract</dt>
                <dd>{{ details.article.abstract }}</dd>
            </div>
            <div>
                <dt>Doi</dt>
                <dd>
                {% if details.article.doi %}
                    <a href="https://doi.org/{{ details.article.doi|e }}">{{ details.article.doi }}</a>
                {% else %}
                    -
                {% endif %}
                </dd>
            </div>
            <div>
                <dt>Pubmed ID</dt>
                <dd>
                {% if details.article.PMID %}
                    <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term={{ details.article.PMID }}">{{ details.article.PMID }}</a>
                {% else %}
                    -
                {% endif %}
                </dd>
            </div>
            <div>
                <dt>URL</dt>
                <dd>
                {% if details.article.url %}
                    <a href="{{ details.article.url }}">{{ details.article.url}}</a>
                {% else %}
                    -
                {% endif %}
                </dd>
            </div>
            <div>
                <dt>Date of update</dt>
                <dd>{{ details.article.date_of_db_update or '-' }}</dd>
            </div>
            <div>
                <dt>Genome version</dt>
                <dd>{{ details.article.genome_version or '-' }}</dd>
            </div>
        </dl>
        {% endif %}

        {% if details.raw_data %}
        <h2 id="raw-data">Original Raw Data</h2>

        <dl>
        {% for item in details.raw_data|dictsort %}
            <div>
                <dt>{{ item[0] }}</dt>
                <dd>{{ item[1] }}</dd>
            </div>
        {% endfor %}
        </dl>
        {% endif %}

    </body>
</html>