<!DOCTYPE html>

{# This is a Jinja template. See: http://jinja.pocoo.org/ #}

<html lang="en">
	<head>
		<title>Annitator</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="static/annitator.css" type="text/css" />
		<link rel="stylesheet" href="static/selectize/css/selectize.css" type="text/css" />

		<script type="text/javascript" src="static/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="static/selectize/js/standalone/selectize.min.js"></script>
		<script type="text/javascript" src="static/annitator.js"></script>

	</head>

	<body>
		<h1>Annitator</h1>

		{% if errors is iterable and errors %}
		<ul class="errors">
			{% for err in errors %}
			<li>{{ err }}</li>
			{% endfor %}
		</ul>
		{% endif %}

		<form method="get">
			<div>
				<label for="gene-term">Gene: </label>
				<select id="gene-term" name="gene" class="form-control" autofocus>
					<option>{{ form.gene }}</option>
				</select>
			</div>
			<div>
				<label for="drug-term">Drug: </label>
				<select id="drug-term" name="drug" class="form-control">
					<option>{{ form.drug }}</option>
				</select>
			</div>
			<div>
				<label for="disease-term">Disease: </label>
				<select id="disease-term" name="disease" class="form-control">
					<option>{{ form.disease}}</option>
				</select>
			</div>
			<div>
				<label for="summary-term">Summary: </label>
				<input id="summary-term" type="text" name="summary" class="form-control" value="{{ form.summary|e }}" />
			</div>
			<div>
				<label for="evidence-level-term">Min. evidence: </label>
				<select id="evidence-level-term" name="evidence" class="form-control">
					<option value="" {{ "selected" if form.evidence == "" }}></option>
					<option value="1" {{ "selected" if form.evidence == "1" }}>&#x2605;</option>
					<option value="2" {{ "selected" if form.evidence == "2" }}>&#x2605;&#x2605;</option>
					<option value="3" {{ "selected" if form.evidence == "3" }}>&#x2605;&#x2605;&#x2605;</option>
					<option value="4" {{ "selected" if form.evidence == "4" }}>&#x2605;&#x2605;&#x2605;&#x2605;</option>
					<option value="5" {{ "selected" if form.evidence == "5" }}>&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</option>
				</select>
			</div>
			<div>
				<label for="variant-term">Variant: </label>
				<input id="variant-term" type="text" name="variant" class="form-control" value="{{ form.variant|e }}" />
				<span class="hint">Example: EP300:p.R1627 (search EP300 gene and protein variant that begins with R1627)</span>
			</div>

		<!--
			<div>
				<label for="minimum-evidence-level-term">Minimum evidence level: </label>
				<input id="minimum-evidence-level-term" type="number" name="evidence_level" class="form-control" />
			</div>
		-->

			<div>
				<button type="submit" class="btn btn-primary">Search</button>
			</div>

			<script type="text/javascript">
				init_terms();
			</script>
		</form>

		<h2>Results</h2>

		{% if results.aberrations is iterable and not results.aberrations %}
		<p>No results found...</p>
		{% endif %}

		{% if results.aberrations %}
		<p>
			The query produced <strong>{{ results.aberrations|length }}</strong> rows.
			Download as <a href="?{{ query_string + '&format=tsv' }}">TSV</a>.
		</p>


		<div class="table-wrapper">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Table</th>
						<th>Article</th>
						<th>Gene</th>
						<th>Summary</th>
						<th>Drugs</th>
						<th>Diseases</th>
						<th>Clinical Significance</th>
						<th>Evidence Level</th>
						<th>Variant id</th>
						<th>Variant DNA</th>
						<th>Variant Protein</th>
					</tr>
				</thead>

				<tbody>
				{% for row in results.aberrations %}
					<tr>
						<td><a class="details-link" href="details/{{ row.gene_aberration_id }}">i</a></td>
						<td data-column-name="table_name"><div>{{ row.table_description }}</div></td>
						<td data-column-name="title"><div title="{{ row.longer_title }} ({{row.journal}})">{{ row.title }}</div></td>
						<td data-column-name="gene"><div>{{ row.gene }}</div></td>
						<td data-column-name="summary"><div>{{ (row.summary or '-')|truncate(300) }}</div></td>
						<td data-column-name="drugs"><ul>
						{% for drug in results.aberration_drugs[row.gene_aberration_id] %}
							{% if drug.cid is number %}
								<li><a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{ drug.cid }}">{{ drug.name }}</a></li>
							{% else %}
								<li><span class="unknown">{{ drug.name }}</span></li>
							{% endif %}
						{% endfor %}
						</ul></td>
						<td data-column-name="diseases"><ul>
						{% for disease in results.aberration_diseases[row.gene_aberration_id] %}
							{% if disease.TCGA_disease is string %}
								<li>{{ disease.name }}</li>
							{% else %}
								<li><span class="unknown">{{ disease.name }}</span></li>
							{% endif %}
						{% endfor %}
						</ul></td>
						<td data-column-name="clinical_significance"><div>{{ row.clinical_significance or '-' }}</div></td>
						<td data-column-name="evidence_level"><div>
						{% if row.evidence_level %}
							{{ ("&#x2605;" * row.evidence_level)|safe }}
						{% else %}
							-
						{% endif %}
						</div></td>
						<td data-column-name="variant_id"><div>{{ row.variant_id or '-' }}</div></td>
						<td data-column-name="variant_DNA"><div>{{ row.variant_DNA or '-' }}</div></td>
						<td data-column-name="variant_protein"><div>{{ row.variant_protein or '-' }}</div></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}

	</body>
</html>

